= form_for(Bid.new, remote: true) do |form|
  = form.hidden_field:user_id, value: current_user.id
  = form.hidden_field :auction_id, value: @product.auction.id
  = form.hidden_field :product_id, value: @product.id
  .form-group
    = form.label :quantity, 'Sum'
    = form.number_field :quantity, id: :bid_quantity, class: 'form-control'
  .actions
    = form.submit 'Bid', class: 'btn btn-primary btn-block'
