- provide(:title, "Editing category")

= form_with(model: category, local: true) do |c|
  .form-group
    = c.label :name
    = c.text_field :name, class: "form-control", id: :category_name
  .form-group
    = c.label :description
    = c.text_area :description, class: "form-control", id: :category_descritpion
  = c.submit "Update Category", class: "btn btn-primary btn-block"
