- provide(:title, "Editing" + @category.name + "Category")
- provide(:button_text, "Update")
= form_for(@category) do |f|
  //= render 'shared/error_messages', object: @user
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  = f.submit yield(:button_text), class: "btn btn-primary btn-block"
