.row.no-gutters.product-show.mt-3
  .col-2.pl-2.pr-2.pt-2
    = render '/products/owner_panel', product: @product unless !@product.owner?(current_user)
    .card
      #back.card-body.text-center
        .h6= link_to 'Back', products_path
  .col-8
    .row.no-gutters
      .col-5.pl-1.pt-2
        = render '/products/images', product: @product
      .col-7.pl-2.pt-2.pr-2
        .card.product-details
          .card-header
            .row.no-gutters
              .col-7.productname.pt-2
                .h5= @product.name
              .col-5.text-right.productlot.pt-2.pr-3
                = "Lot number: " + @product.id.to_s.rjust(5, '0')
          .card-body
            .row.no-gutters
              /Bid form  
              - unless !@product.has_auction?
                .col-8
                .col-4
                  = render '/bids/form', bid: @bid if user_signed_in? && @product.auction.active?
                  - if user_signed_in? && @product.auction.finished?
                    Winner: 
                    = link_to @product.auction.winner, '#'
          .card-header.pl-3.pt-2.pr-3.pb-1
            .row.no-gutters
              .col.text-left
                .username
                  = "Author: " + @product.user.profile.name.to_s
              .col.text-right
        = render '/bids/bids', product: @product if @product.has_auction? || @product.bids.any?
    /Product description
    .description.card.mb-3.mt-3.ml-1.mr-2
      .card-header
        %p.h5 Descritpion
      .card-body.pl-5.pr-5
        %p.description= @product.description
  .col-2
    

  
