%p#notice= notice
.row.no-gutters.product-show
  .col-4.pl-5.pt-2
    .card  
      .product-images-container.card-body
        - if @product.images.present?
          .image
            = cl_image_tag(@product.images.first.image_url, alt: 'Image', class: "product-large-image")
          .images-row.selector
            - @product.images.each do |img|
              = cl_image_tag(img.image_url, alt: "Small image", class: "product-small-image")
  .col-6.offset-1.pl-5.pt-2.pr-5
    .card
      .card-header
        .row.no-gutters
          .col-9.productname.pt-2
            %p.h5= @product.name
          .col-3.text-right.productlot.pt-2.pr-3
            = "Lot number: " + @product.id.to_s.rjust(5, '0')
      .card-body
      
        /Add product to auction
        - if !@product.has_auction? && @product.owner?(current_user)
          = render '/auctions/form'
        - elsif @product.has_auction? && @product.owner?(current_user)
          .btn.btn-primary.btn-sm
            = link_to "Remove from auction", auction_path(@product.auction.id), method: :delete
        /Add product image
        = render '/images/form' unless !@product.owner?(current_user)
        

      .card-header.pl-3.pt-1.pr-3.pb-1
        .row.no-gutters
          .col.text-left
            .username
              = "Author: " + @product.user.profile.name.to_s
          .col.text-right
            = link_to 'Edit', edit_user_product_path(@product)
            |
            = link_to 'Back', products_path
  .col-12.pt-5.pl-5.pr-5
    .card.mb-5
      .card-header
        %p.h5 Descritpion
      .card-body.pl-5.pr-5
        %p.description= @product.description

-#
    %strong Category:
    = @product.category_id
  %p
    %strong Minimal price:
    = @product.minimal_price
  %p
    %strong Current price:
    = @product.current_price

  
  
