<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Minimal price:</strong>
  <%= @product.minimal_price %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @product.current_price %>
</p>

<p>
  <strong>Auction status:</strong>
  <%= @product.auction_status %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
